#loading-overlay {
  background: #fff;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.mobile-only {
  display: none;
  @include apply-to(max-width, 767px){
    display: block;
  }
}

.desktop-only {
  display: block;
  @include apply-to(max-width, 767px){
    display: none;
  }
}

.clear {
  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.no-wrap {
  white-space:nowrap;
}

.inline {
  display: inline-block; width: auto;
}

.block {
  display:block;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.center {
  display: block;
  margin: 0 auto;
}
