
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #ebebeb;
  color: #444;
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 11px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  margin: 50px auto;
}

.blip {
  -webkit-transition: all .3s ease;
  display: block;
}

.blip:hover {
  cursor: pointer;
}

.tooltip {
  -webkit-transition: all .3s ease;
  fill: black;
  opacity: 0;
  position: relative;
  z-index: 5000;
}

.tooltip text {
  fill: white;
  font-size: 9px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.legend-heading {
  font-size: 18px;
}